testbed/Debug
gpu-gems-16/Debug/
gpu-gems-16/jpeg/Debug/
*.sdf
gpu-gems-16/.vs/AtmosphereTest/v14/
gpu-gems-16/UpgradeLog.htm
gpu-gems-16/ipch/
gpu-gems-16/jpeg/Backup/
gpu-gems-16/AtmosphereTest.log
gpu-gems-16/glew-1.13.0/lib/
gpu-gems-16/glfw/glfw-3.1.1/Build/
gpu-gems-16/jpeg/.vs/libjpeg/v14/.suo
console/
